/* CSS Document */

table#kasse{
  border: solid thin #000;
  border-style: solid thin #000;
}

table#kasse td{
  border: solid 1px #000;
  border-style: solid thin #000;
}

td#head {
  vertical-align:middle;
  text-align: center;
  color:#FFF;
  padding: 5px;
  height: 20px;
}

td#head a {
  background-color:#999;
  color:#FFF;
  text-decoration: none;
}

td#head a.active{
  background-color:#333;
  text-decoration: none;
}




/***********************************************************************************
 * Farbdefinition der Artikelschaltflächen                                         *
 ***********************************************************************************/
td#artikel0aktiv {
  vertical-align:middle;
  background-color:#C00;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel0gesperrt {
  vertical-align:middle;
  background-color:#800;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel1aktiv {
  vertical-align:middle;
  background-color:#666;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel1gesperrt {
  vertical-align:middle;
  background-color:#333;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel2aktiv {
  vertical-align:middle;
  background-color:#660;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel2gesperrt {
  vertical-align:middle;
  background-color:#030;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel3aktiv {
  vertical-align:middle;
  background-color:#036;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel3gesperrt {
  vertical-align:middle;
  background-color:#036;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel4aktiv {
  vertical-align:middle;
  background-color: #639;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel4gesperrt {
  vertical-align:middle;
  background-color:#303;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel5aktiv {
  vertical-align:middle;
  background-color: #C60;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel5gesperrt {
  vertical-align:middle;
  background-color:#630;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel6aktiv {
  vertical-align:middle;
  background-color:#300;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel6gesperrt {
  vertical-align:middle;
  background-color:#F60;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel7aktiv {
  vertical-align:middle;
  background-color:#444;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel7gesperrt {
  vertical-align:middle;
  background-color:#111;
  color:#FFF;
  padding: 5px;
  height: 30px;
}




td#artikel8aktiv {
  vertical-align:middle;
  background-color:#FC0;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel9aktiv {
  vertical-align:middle;
  background-color:#6F3;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel10aktiv {
  vertical-align:middle;
  background-color:#F00;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel11aktiv {
  vertical-align:middle;
  background-color:#03F;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel12aktiv {
  vertical-align:middle;
  background-color:#F6C;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel13aktiv {
  vertical-align:middle;
  background-color:#3FF;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel14aktiv {
  vertical-align:middle;
  background-color:#FFF;
  color:#000;
  padding: 5px;
  height: 30px;
}

td#artikel15aktiv {
  vertical-align:middle;
  background-color:#000;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel16aktiv {
  vertical-align:middle;
  background-color:#F93;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

td#artikel17aktiv {
  vertical-align:middle;
  background-color:#69F;
  color:#FFF;
  padding: 5px;
  height: 30px;
}

