/* CSS Document */

/*
 *  Formatieren der Ordentlichen HTML-Tags
 */
body {
  margin: 0px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #243f66; 
}

h1 {
  font-size: 14px;
  font-weight: bold;
  color: #d75af4;
}

h2 {
  font-size: 12px;
  font-weight: bold;
  color: #d75af4;
}

label {
  font-size: 12px;
  font-weight: bold;
  color: #d75af4;
}

input {
  font-size: x-small;
}

.error {
  color:#FF0000;	
}
/*
 *  Allgemein gültige Formatierungen
 */
table#body {
  background:#FFFFFF;
  border-spacing: 0;
  border: hidden;
}

td#header {
  vertical-align:middle;
  background-color: #243f66;
  padding: 10px;
}

 
table#mat th{
	background:#999;
	font-weight: bold;
	text-align: left;
}

tr#uneven {
  background-color: #DDD;
}

tr#kategorie {
  background-color: #BBB;
  font-weight: bold;
}

td#content {
  vertical-align:top;
  background-color: #FFF;
  padding: 10px;
  height: 400px;
}

/*
 *  Formatierung für Links
 */
a#link {
  text-decoration: none;
  color:#000000;
  font-weight:bold;
}

/*
 *  Formatierung für Links
 */
.link {
  text-decoration: none;
  color:#000000;
  font-weight:bold;
}


/*
 *  Formatierung der Haupt-Navigation
 */
ul#maintabs {
  list-style-type: none;
  width: 100%;
  float: left;
  font-family: Verdana ,Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 0;
}

ul#maintabs li {
  display: block;
  float:left;
  color: #d75af4;
  margin: 0 0 0 4px;
}

ul#maintabs li#leer {
  display: block;
  padding: 5px 8px;
  width: 70px;
}


ul#maintabs li p {
  display: block;
  float:left;
  padding: 1px 20px 5px 0px;
  font-size: 16px;
  color: #d75af4;
  font-weight:bolder;
  margin: 0 0 0 4px;
}

ul#maintabs li a {
  display: block;
  padding: 5px 8px;
  width: 70px;
  text-align: center;
  color: #d75af4;
  background-color: #243f66;
  text-decoration: none;
}

ul#maintabs li.active a,
ul#maintabs li a:hover {
  color: #243f66;
  background-color: #d75af4;
}

/*
 *  Formatierung für die Sub-Navigation
 */

td#subnav {
  vertical-align:top;
  padding: 10px;
}

ul#subnavi {
  list-style-type: none;
  width: 100%;
  float: left;
  font-family: Verdana ,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 10px 0 0 0;
}

ul#subnavi li {
  display: block;
  color: #333;

}

ul#subnavi li a {
  display: block;
  padding: 2px 0px;
  width: 150px;
  text-align: left;
  color: #000;
  text-decoration: none;
}

ul#subnavi li.active a,
ul#subnavi li a:hover {
  color: #555;
}

input[type="number"] {
   width:50px;
}